/*colour scheme: Backgrounds: #AAA0A0,#8E8268, #844D36
accent colours: 86B3D1, #474853*/
    /* Custom CSS styling */
    
    header {
      background-image: url('../images/ryunosuke-kikuno-hdD0GvwqlZw-unsplash.jpg'); /* Replace with your own image */
      background-size: cover;
      background-position: center;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
     .jumbotron{
        color: #e96d25;
     }
    .about-row {
      padding: 80px 0;
      background-color: #f8f9fa;
      margin-bottom: 50px 50px; /* Add margin between rows */
    }

    .about-row img {
      max-width: 100%;
    }

    .about-row .col {
      display: flex;
      align-items: center;
    }
    .end-align {
      justify-content: flex-end;
    }


    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #3f3d3d;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #ee7d49;
      display: block;
      transition: 0.3s;
    }
    
    .sidebar a:hover {
      color: #f1f1f1;
    }
    
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #272727;
      color: white;
      padding: 10px 15px;
      border: none;
    }
    
    .openbtn:hover {
      background-color: #444;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 16px;
    }